<h3>Expense: <%= @expense.name %></h3>
<h3>Amount: <%= @expense.price %></h3>
<h3>Category: <%= link_to @expense.category.name, category_path(@expense.category) %></h3>

<%= link_to 'Edit', edit_expense_path(@expense) %>
<%= link_to 'All expenses', expenses_path %>
