<!DOCTYPE html>
<html>
  <head>
    <title>Pefi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/navbar' %>
      <div class="container">
          <div class="row">
              <div class="col-sm-3 affix hidden-xs bordered sidebar" id="sidebar">
              </div>

              <div class="col-sm-9 col-sm-offset-3 bordered main">
                  <%= yield %>
              </div>
          </div>
      </div>
  </body>
</html>
